/* Header CSS */
.headerContainer {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #9ad8fa;
    /*background-color: #ededede8;*/
    padding: 10px;
}

.header-left {
  flex-grow: 1;
}

.header-title {
  margin: 0;
}

.header-right {
  display: flex;
}

.header-button {
  margin-left: 10px;
  padding: 6px 12px;
  background-color: #126697;
  color: #fff;
  text-decoration: none;
  border-radius: 4px;
}

/*.header-button:hover {
  background-color: #555;
}*/