/*Toolbox CSS*/
.toolboxContainer {
    position: absolute;
    /*top: auto;*/
    margin-top: 20px;
    left: 0;
    /*width: 200px; */
    width: 10%;
    height: 500px;
    background-color: #9ad8fa;
    padding: 10px;
    overflow: hidden;
  }
  
  .toolboxButton{
    margin: 5px;
  }

  .left-panel-hidden {
  width: 0 !important;
  padding: 0 !important;
  border: none !important;
  overflow: hidden;
}

/* Toggle Button Positioning */
#toggleToolboxButton {
  transition: all 0.3s ease;
}

.left-panel-hidden + #toggleToolboxButton {
  left: -40px;
}